body {
  background-color: #03b14e !important;
}

.rideInfo {
  background-color: white;
}

.pickUp {
  margin-bottom: 0;
}

.pickUp,
.dropOff{
    font-weight: 400;
    font-size: small;
}

.line {
    width: 1px;
    height: 15px;
    background-color: #ccc;
    margin: 0 8.5px;
  }